.star-symbol {
    color: gold;
    margin-right: 4px;
}

.ipl-ratings-bar {
    font-size: 5em;
    margin: 0 auto;
}
/* --------------------- FLIP CARD / MODAL SUBMIT BUTTON --------------------- */
.modal-submit-btn {
    background:#f80;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    padding:5px 10px;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    margin: 5px 10px;
    font-weight: bold;
}
.modal-submit-btn:hover {
    background:#fff;
    color: #f80;
}
.modal-submit-btn:before,.modal-submit-btn:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #f80;
    transition:400ms ease all;
  }
  .modal-submit-btn:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .modal-submit-btn:hover:before,.modal-submit-btn:hover:after{
    width:100%;
    transition:800ms ease all;
  }
/* --------------------- FLIP CARD --------------------- */
/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
    margin: 10px;
    float: left;
    background: lightblue;
    overflow: scroll;
}
/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
    width: 300px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front,
.back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    text-align: center;
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    text-align: center;
}
